.Filter-Cards-Container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Filter-Cards-Filter > select{
    background-color: azure;
    font-weight: 400;
}