.Navbar-Container{
    display: flex;
    flex-direction: row;
}

.Navbar-flex{
    display: flex;
    flex-direction: row;
    background-color: bisque;
}

.Navbar-pages{
    background-color: black;
}

.Navbar-pages > ul>li {
    list-style: none;
}