.CyberSecurity-Container{
    margin: 20px;
}

.CyberSecurity-Header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.CyberSecurity-Cards-Section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}