body{
  background-image: linear-gradient(rgb(203, 146, 23), rgb(211, 159, 90), rgb(232, 232, 67));
  color: black;
  display: flex;
}

.game-box {
    border: 1px solid black;
    width: 10rem;
    height: 10rem;
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
  }

  .board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  
  .full-game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

 