@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap');

/* body{
    height: 100vh;
    display: flex;
    background-image: url("./chatbackground.jpg");
    background-size: cover;
    background-position: center;
    background-color: #dadbd3;
    place-items: center;
    font-family: 'Work Sans', sans-serif;
} */

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.281);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}